replicaCount: 2

image:
  repository: 742710068961.dkr.ecr.ap-south-1.amazonaws.com/helm
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
    
ingress:
  enabled: true
  host: myapp.example.com
  annotations:
    kubernetes.io/ingress.class: nginx
  path: /
  tls: false
